.heading-1 {
}

.heading-2 {
}

.heading-3 {
}

.heading-4 {
}

a {
  display: block;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
