$orange: #f05a28;
$orange-light: #f37b53;
$orange-dark: #903618;

$dark-blue: #318c8c;
$light-blue: #7cc9c2;
$light-blue-2: #bee4e1;

$white: #ffffff;
$black: #000000;

$grey: #e5e5e5;
$grey-dark: #575756;
$grey-light: #f1f1f1;

$font-epilogue: "Epilogue", sans-serif;

$orange-hover: $orange-dark;

$card-shadow: 0px 4px 2rem -2px rgba(0, 0, 0, 0.1);

$selection-color: $orange-dark;
$selection-text-color: $white;

$outline-color: $orange-dark;
