.nav__hamburger-menu {
  display: none;
  @include respond(tab) {
    display: block;
    width: 4rem;
    height: 4rem;
    border: none;
    background: none;
    cursor: pointer;
    position: relative;

    & span {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      display: inline-block;
      height: 3px;
      background-color: $grey-dark;
      transition: all 0.3s;
      width: 80%;

      &:first-child {
        top: 1rem;
      }

      &:nth-child(2) {
        top: 1.8rem;
      }

      &:last-child {
        top: 2.6rem;
      }
    }

    &.active {
      & span {
        &:first-child {
          top: 2rem;
          transform: translate(-50%) rotate(135deg);
        }

        &:nth-child(2) {
          top: 2rem;
          transform: translateX(100%);
          opacity: 0;
        }

        &:last-child {
          top: 2rem;
          transform: translate(-50%) rotate(-135deg);
        }
      }
    }
  }
}

.btn {
  &:link,
  &:visited {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 700;
    color: $white;
    background-color: $orange;
    padding: 1rem 1.6rem;
    width: fit-content;
    border-radius: 0.5rem;
    transition: all 0.3s;
  }
  &:hover {
    background-color: $orange-dark;
    transform: translateY(-2px);
    box-shadow: -2px 2px 10px 5px rgba($black, 0.1);

    @include respond(tab) {
      background-color: $orange;
      box-shadow: none;
      transform: none;
    }
  }

  &:active {
    box-shadow: none;
    transform: translateY(0);
  }

  @include respond(mob) {
    font-size: 1.8rem;
    line-height: 2.8rem;
    padding: 1.1rem 2.3rem;
  }
}

.carousel__btn {
  height: 8rem;
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  padding: 2rem;
  border: 1px solid $grey-dark;
  border-radius: 100rem;
  cursor: pointer;
  transition: all 0.3s;

  &:not(:last-child) {
    margin-right: 1rem;
  }

  &:hover {
    background: $orange;
    border: 1px solid $orange;

    & .carousel__btn-icon {
      color: $grey-light;

      @include respond(tab) {
        color: $orange;
      }
    }

    @include respond(tab) {
      background: none;
      border: 1px solid $grey-dark;
    }
  }

  @include respond(mob) {
    height: 6rem;
    width: 6rem;
  }

  &.deactive {
    pointer-events: none;
    cursor: none;

    @include respond(tab) {
      & .carousel__btn-icon {
        opacity: 0;
      }
    }
  }
}

.carousel__btn-icon {
  font-size: 6rem;
  font-weight: 400;
  color: $orange;
  transition: all 0.3s;

  @include respond(mob) {
    font-size: 4rem;
  }
}
