.carousel {
  padding: 7rem 0;
  background-color: $grey-light;
  height: 86.4rem;
  position: relative;

  @include respond(tab) {
    height: 66.7rem;
    padding: 5rem 0 8rem;
  }

  @include respond(mob) {
    height: 58rem;
  }
}

.carousel--sec {
  @include respond(mob) {
    height: 64rem;
  }
}

.carousel__heading {
  margin-bottom: 3rem;
}

.carousel__content {
  display: flex;
  height: 58rem;
  position: relative;
  overflow-x: hidden;

  @include respond(mob) {
    height: 40rem;
  }
}

.carousel__container {
  position: absolute;
  width: 65rem;
  height: 53rem;
  margin-bottom: 3rem;
  transition: all 0.3s;

  @include respond(tab) {
    max-width: 38rem;
    height: 35rem;
  }

  @include respond(mob) {
    height: 24rem;
  }
}
.carousel__img,
.carousel__tag,
.carouesl__heading {
  max-width: 58rem;
  margin-bottom: 2rem;
}
.carousel__tag,
.carouesl__heading {
  @include respond(mob) {
    margin-bottom: 1.5rem;
  }
}

.carousel__img {
  margin-bottom: 4.4rem;

  @include respond(tab) {
    max-width: 38rem;
    max-height: 21rem;
  }

  @include respond(mob) {
    margin-bottom: 3.9rem;
    max-height: 20rem;
  }
}

.carousel__tag {
  display: inline-block;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: $orange;
  font-weight: 700;
  letter-spacing: 3px;

  @include respond(mob) {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
}

.carousel__btns {
  display: flex;
  position: absolute;
  bottom: 7rem;

  @include respond(tab) {
    bottom: 2rem;
  }
}

.carousel__time {
  color: $grey-dark;

  @include respond(mob) {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }
}
