.hero {
  @include bg-center;
  padding: 16rem 0;

  @include respond(tab) {
    padding: 12rem 0;
  }

  @include respond(mob) {
    padding: 6rem 0;
  }
}

.hero__content {
  width: 60rem;
  background-color: rgba($black, 0.2);
  padding: 3rem 2rem;

  @include respond(mob) {
    max-width: 33.5rem;
  }
}

.higlight {
  color: $light-blue;
}

.hero__heading {
  margin-bottom: 3rem;

  @include respond(tab) {
    height: 9.8rem;
    margin-bottom: 1rem;
  }
  @include respond(mob) {
    height: auto;
    margin-bottom: 1.4rem;
  }
}

.hero__text {
  font-size: 2.2rem;
  line-height: 3.2rem;
  font-weight: 400;
  color: $white;

  @include respond(tab) {
    font-size: 2rem;
    line-height: 3rem;
  }
}
