.footer {
  background-color: $grey-light;
}
.footer__contnet {
  display: flex;
  align-items: center;
  padding: 2rem 0;

  @include respond(mob) {
    flex-direction: column;
    align-items: center;
  }
}

.footer__nav {
  @include respond(mob) {
    margin-bottom: 1rem;
  }
}

.footer__list {
  display: flex;
  align-items: center;
}

.footer__item {
  &:not(:last-child) {
    margin-right: 1.6rem;
  }
}

.footer__link {
  &:link,
  &:visited {
    font-size: 1.5rem;
    line-height: 3rem;
    color: $grey-dark;
  }

  &:hover,
  &:active {
    color: $black;
  }
}

.footer__copy {
  margin-left: auto;
  @include respond(mob) {
    margin-left: 0;
  }
}
.footer__copyright {
  p {
    font-size: 1.4rem;
    line-height: 3rem;
  }
}
